{% extends 'stockInfo/base.html' %}
{%load static %}
	{% block head %}
		<!-- Custom styling plus plugins -->
	    <link href="{% static 'css/custom.css'%}" rel="stylesheet">
	    <link href="{% static 'css/icheck/flat/green.css'%}" rel="stylesheet">
	     <link rel="stylesheet" href="{% static 'css/normalize.css'%}" />
	    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css'%}" />
	    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css'%}" />
	
	    <!-- colorpicker -->
	    <link href="{% static 'css/colorpicker/bootstrap-colorpicker.min.css'%}" rel="stylesheet">
	    <link href="{% static 'css/datatables/tools/css/dataTables.tableTools.css' %}" rel="stylesheet">
	    <link href="{% static 'css/icheck/flat/green.css' %}" rel="stylesheet">
	{% endblock %}
{% block content %}
	<div class ="right_col" role="main">
		<div class = "x_panel">
				<div class="x_title">
	                	<h2>Construct ETF Portfolio <small>Algorithmic strategy with Machine Advisor</small></h2>
	                    <ul class="nav navbar-right panel_toolbox">
	                    	<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
	                        </li>
	                    </ul>
	                    <div class="clearfix"></div>
	                </div>
			<div class = "col-md-6 col-sm-12 col-xs-12">
				<div class ="x_panel">
					<div class="x_title">
	                	<h2>Select Asset <small>ETF portfolio</small></h2>
	                  
	                    <div class="clearfix"></div>
	                </div>
					<div class="x_content" style ="display: block;">
						 <p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>
	                         <table id = "example" class="table table-striped responsive-utilities jambo_table">
    	                         <thead>
        	                         <tr class="headings">
            	                         <th>
                	                         <input type="checkbox" id="check-all" class="tableflat">
                                         </th>
                                         <th class="column-title">Code </th>
                                         <th class="column-title">Asset Name</th>
                                         <th class="column-title">Price </th>
                                         <th class="column-title">Type </th>
                                        
                    	            </tr>
                            	</thead>
	                           	<tbody>
		                            <tr class="even pointer">
		                            	<td class="a-center "><input type="checkbox"  name="checkcheck" class="tableflat"></td>
		                                <td class=" ">121000040</td>
		                                <td class=" ">May 23, 2014 11:47:56 PM </td>
		                                <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
		                                <td class=" ">John Blank L</td>
		                               
		                             </tr>
		                             <tr class="odd pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox"  name="checkcheck"  class="tableflat">
		                                </td>
		                                <td class=" ">121000039</td>
		                                <td class=" ">May 23, 2014 11:30:12 PM</td>
		                                <td class=" ">-121000208 <i class="success fa fa-long-arrow-up"></i>
		                                </td>
		                                <td class=" ">John Blank L</td>
		                                
		                             </tr>
		                             <tr class="even pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox" class="tableflat">
		                                </td>
		                                <td class=" ">121000038</td>
		                                <td class=" ">May 24, 2014 10:55:33 PM</td>
		                                <td class=" ">121000203 <i class="success fa fa-long-arrow-up"></i>
		                                </td>
		                                <td class=" ">Mike Smith</td>
		                                
		                             </tr>
		                             <tr class="odd pointer">
		                             	<td class="a-center ">
		                              		<input type="checkbox" class="tableflat">
		                                </td>
		                                <td class=" ">121000037</td>
		                                <td class=" ">May 24, 2014 10:52:44 PM</td>
		                                <td class=" ">121000204</td>
		                                <td class=" ">Mike Smith</td>
		                                
		                             </tr>
		                             <tr class="even pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox" class="tableflat">
		                              	</td>
		                               	<td class=" ">121000040</td>
		                                <td class=" ">May 24, 2014 11:47:56 PM </td>
		                                <td class=" ">121000210</td>
		                                <td class=" ">John Blank L</td>
		                                
		                          	 </tr>
		                             <tr class="odd pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox" class="tableflat">
		                                </td>
		                                <td class=" ">121000039</td>
		                                <td class=" ">May 26, 2014 11:30:12 PM</td>
		                                <td class=" ">121000208 <i class="error fa fa-long-arrow-down"></i>
		                                </td>
		                                <td class=" ">John Blank L</td>
		                                
		                             </tr>
		                             <tr class="even pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox" class="tableflat">
		                                </td>
		                                <td class=" ">121000038</td>
		                                <td class=" ">May 26, 2014 10:55:33 PM</td>
		                                <td class=" ">121000203</td>
		                                <td class=" ">Mike Smith</td>
		                               
		                             </tr>
		                             <tr class="odd pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox" class="tableflat">
		                                </td>
		                                <td class=" ">121000037</td>
		                                <td class=" ">May 26, 2014 10:52:44 PM</td>
		                                <td class=" ">121000204</td>
		                                <td class=" ">Mike Smith</td>
		                               
		                          	 </tr>
		                             <tr class="even pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox" class="tableflat">
		                                </td>
		                                <td class=" ">121000040</td>
		                                <td class=" ">May 27, 2014 11:47:56 PM </td>
		                                <td class=" ">121000210</td>
		                                <td class=" ">John Blank L</td>
		                               
		                             </tr>
		                             <tr class="odd pointer">
		                             	<td class="a-center ">
		                                	<input type="checkbox" class="tableflat">
		                                </td>
		                                <td class=" ">121000039</td>
		                                <td class=" ">May 28, 2014 11:30:12 PM</td>
		                                <td class=" ">121000208</td>
		                                <td class=" ">John Blank L</td>
		                                
		                             </tr>
	                   			</tbody>
                       		</table>
						</div>
					</div>
				</div>
			
			
			<div class = "col-md-6 col-sm-12 col-xs-12">
				<div class ="x_panel">
					<div class="x_title">
	                	<h2>Set data period <small>Training/Test Period</small></h2>
	                    <div class="clearfix"></div>
		            </div>
					<div class="x_content" style ="display: block;">
				    	<div class="well" style="overflow: auto">
                        	<div class="col-md-3">
                            	<div id="reportrange_right" class="pull-left" style="background: #fff; width: 300px; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                	<i class="glyphicon glyphicon-calendar fa fa-calendar"> Training Period: </i>
                                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                </div>
                            </div>
                            <div class="col-md-9">
                            	<div id="reportrange" class="pull-right" style="background: #fff; width: 300px; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                	<i class="glyphicon glyphicon-calendar fa fa-calendar"> Test Period: </i>
                                    <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			
			
			<div class = "col-md-6 col-sm-12 col-xs-12">
				<div class ="x_panel">
					<div class="x_title">
	                	<h2>Select Strategy <small>Machine Advisor's algorithmic strategy</small></h2>  
	                    <div class="clearfix"></div>
		            </div>
					<div class="x_content" style ="display: block;">
				    	<div class="well">
                           	<form class="form-horizontal">
                               	<fieldset>
                                   	<div class="control-group">
                                       	<div class="controls">
											<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
												<div class="panel">
		                                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		                                                <h4 class="panel-title" id ="panel-title">
			                                                <label for="internet-banking">
									                            <input type="radio" name="paymentmethod" value="internet-banking"> Collapsible Group Items #2
									                        </label>
								                        </h4>
		                                            </a>
		                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		                                                <div class="panel-body">
		                                                    <p>
		                                                    	<strong>Collapsible Item 2 data</strong>
		                                                    </p>
		                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
		                                                </div>
		                                            </div>
	                                        	</div>
		                                        <div class="panel">
		                                            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">    
		                                                 <h4 class="panel-title" id ="panel-title">
			                                                <label for="internet-banking">
									                            <input type="radio" name="paymentmethod" value="cardcard"> Collapsible Group Items #3
									                        </label>
								                        </h4>
		                                            </a>                                          
		                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		                                                <div class="panel-body">                                                
		                                                    <p><strong>Collapsible Item 3 data</strong>
		                                                    </p>
		                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
		                                                </div>
		                                            </div>
		                                        </div>
		                                        <div class="panel">
		                                            <a class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">    
		                                                 <h4 class="panel-title" id ="panel-title">
			                                                <label for="internet-banking">
									                            <input type="radio" name="paymentmethod" value="cardcard"> Collapsible Group Items #1
									                        </label>
								                        </h4>
		                                            </a>                                          
		                                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		                                                <div class="panel-body">                                                
		                                                    <p><strong>Collapsible Item 1 data</strong>
		                                                    </p>
		                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
		                                                </div>
		                                            </div>
		                                        </div>
                                        	</div>
                                        	<br></br>
											<span style="float:right">
												<button type="button" class="btn btn-primary">Learn and Show Results</button>
											</span>
                                        </div>
                                    </div>
                               </fieldset>
                           </form>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- chart js -->
    <script src="{% static 'js/chartjs/chart.min.js' %}"></script>
    <!-- bootstrap progress js -->
    <script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
    <!-- icheck -->
    <script src="{% static 'js/icheck/icheck.min.js' %}"></script>

    <script src="{% static 'js/custom.js' %}"></script>
    <!-- datepicker -->
    <script type="text/javascript" src="{% static 'js/moment.min2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datepicker/daterangepicker.js' %}"></script>
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange_right span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };

            $('#reportrange_right span').html(moment().subtract(29, 'days').format('MMM D, YYYY') + ' - ' + moment().format('MMM D, YYYY'));

            $('#reportrange_right').daterangepicker(optionSet1, cb);

            $('#reportrange_right').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange_right').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange_right').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMM D, YYYY') + " to " + picker.endDate.format('MMM D, YYYY'));
            });
            $('#reportrange_right').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });

            $('#options1').click(function () {
                $('#reportrange_right').data('daterangepicker').setOptions(optionSet1, cb);
            });

            $('#options2').click(function () {
                $('#reportrange_right').data('daterangepicker').setOptions(optionSet2, cb);
            });

            $('#destroy').click(function () {
                $('#reportrange_right').data('daterangepicker').remove();
            });

        });
    </script>
    <!-- datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {

            var cb = function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMM D, YYYY') + ' - ' + end.format('MMM D, YYYY'));
                //alert("Callback has fired: [" + start.format('MMMM D, YYYY') + " to " + end.format('MMMM D, YYYY') + ", label = " + label + "]");
            }

            var optionSet1 = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'MM/DD/YYYY',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Clear',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            };
            $('#reportrange span').html(moment().subtract(29, 'days').format('MMM D, YYYY') + ' - ' + moment().format('MMM D, YYYY'));
            $('#reportrange').daterangepicker(optionSet1, cb);
            $('#reportrange').on('show.daterangepicker', function () {
                console.log("show event fired");
            });
            $('#reportrange').on('hide.daterangepicker', function () {
                console.log("hide event fired");
            });
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                console.log("apply event fired, start/end dates are " + picker.startDate.format('MMM D, YYYY') + " to " + picker.endDate.format('MMM D, YYYY'));
            });
            $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
                console.log("cancel event fired");
            });
            $('#options1').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
            });
            $('#options2').click(function () {
                $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
            });
            $('#destroy').click(function () {
                $('#reportrange').data('daterangepicker').remove();
            });
        });
    </script>
    <!-- /datepicker -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#single_cal1').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal2').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal3').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_3"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal4').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#reservation').daterangepicker(null, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
    <script src="{% static 'js/datatables/js/jquery.dataTables.js' %}"></script>
   	<script src="{% static 'js/datatables/tools/js/dataTables.tableTools.js' %}"></script>

    <script>
          $(document).ready(function () {
              $('input.tableflat').iCheck({
                  checkboxClass: 'icheckbox_flat-green',
                  radioClass: 'iradio_flat-green'
              });  
              
            
          });
          
          var asInitVals = new Array();
          $(document).ready(function () {
              var oTable = $('#example').dataTable({
                  "oLanguage": {
                      "sSearch": "Search all columns:"
                  },
                  "aoColumnDefs": [
                      {
                          'bSortable': false,
                          'aTargets': [0]
                      } //disables sorting for column one
          ],
                  'iDisplayLength': 12,
                  "sPaginationType": "full_numbers",
                  "dom": 'T<"clear">lfrtip',
                  "tableTools": {
                      "sSwfPath": "//cdn.datatables.net/tabletools/2.2.4/swf/copy_csv_xls_pdf.swf"
                  }
              });
              $("tfoot input").keyup(function () {
                  /* Filter on the column based on the index of this element's parent <th> */
                  oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
              });
              $("tfoot input").each(function (i) {
                  asInitVals[i] = this.value;
              });
              $("tfoot input").focus(function () {
                  if (this.className == "search_init") {
                      this.className = "";
                      this.value = "";
                  }
              });
              $("tfoot input").blur(function (i) {
                  if (this.value == "") {
                      this.className = "search_init";
                      this.value = asInitVals[$("tfoot input").index(this)];
                  }
              });
          });
      </script>
      <script type="text/javascript">
	  	$(document).ready(function () {
			$(".panel-title").click(function() {
	    	$(this).children().children().prop("checked", true);
			});
	   	});
	  </script>
{% endblock %}