{% extends 'stockInfo/base.html' %}
	{% block head %}
	{% endblock %}
{% block content %}
	<div class="right_col" role="main">
                <div class="">

                    <div class="row top_tiles" style="margin: 10px 0;">
                        <div class="col-md-4 col-sm-3 col-xs-6 tile">
                            <span><h3>KOSPI</h3></span>
                            <h2>{{KOSPI}}</h2>
                            <span class="sparkline_one" style="height: 160px;">
                    			<canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                			</span>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-6 tile">
                            <span><h3>KOSDAQ</h3></span>
                            <h2>{{KOSDAQ}}</h2>
                            <span class="sparkline_one" style="height: 160px;">
			                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
			                </span>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-6 tile">
                            <span><h3>USDKRW</h3></span>
                            <h2>{{FX}}</h2>
                            <span class="sparkline_two" style="height: 160px;">
			                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
			                </span>
                        </div>
                       
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="dashboard_graph x_panel">
                                <div class="row x_title">
                                    <div class="col-md-6">
                                        <h3>Real Time KOSPI Data</h3>
                                    </div>
                                   
                                </div>
                                <div class="x_content">
                                    <div class="demo-container" style="height:250px">
                                        <div id="container" class="demo-placeholder" style="width: 100%; height:250px; position:"relative"; ">
                                     		
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel fixed_height_320">
                                <div class="x_title">
                                    <h2>Trading trends</h2>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="col-xs-12 bg-white progress_summary">

                                        <div class="row">
                                            <div class="progress_title">
                                                <span class="left">외국인</span>
                                                <span class="right"><small>(단위: 억)</small></span>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="col-xs-2">
                                                <span>flow</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="89"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 more_info">
                                                <span>89</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="progress_title">
                                                <span class="left">기관</span>
                                                <span class="right"><small>(단위: 억)</small></span>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="col-xs-2">
                                                <span>flow</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="79"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 more_info">
                                                <span>79</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="progress_title">
                                                <span class="left">개인</span>
                                                <span class="right"><small>(단위: 억)</small></span>
                                                <div class="clearfix"></div>
                                            </div>

                                            <div class="col-xs-2">
                                                <span>flow</span>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="69"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-2 more_info">
                                                <span>69</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>   

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel fixed_height_320">
                                <div class="x_title">
                                    <h2>Foreighn Exchange <small>expressed by KRW</small></h2>
                                   
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <table class = "table">
                                    	<thead>
                                    		<tr>
                                    			<th>FX</th>
                                    			<th>FX Rate(￦)</th>
                                    			<th>전일대비</th>
                                    		</tr>
                                    	</thead>
                                    	<tbody>
                                    		<tr>
                                    			<th scope = "row">USDKRW</th>
                                    			<td>1,175.70</td>
                                    			<td>-1.80</td>
                                    		</tr>
                                    		<tr>
                                    			<th scope = "row">JPYKRW</th>
                                    			<td>969.49(per 100Yen)</td>
                                    			<td>-0.12</td>
                                    		</tr>
                                    		<tr>
                                    			<th scope = "row">EURKRW</th>
                                    			<td>1,283.39</td>
                                    			<td>+4.74</td>
                                    		</tr>
                                    		<tr>
                                    			<th scope = "row">CNHKRW</th>
                                    			<td>179.75</td>
                                    			<td>+0.13</td>
                                    		</tr>
                                    	</tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                       

                        

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="x_panel fixed_height_320">
                                <div class="x_title">
                                    <h2>Rate Information</h2>
                                    
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                     <table class = "table">
                                    	<thead>
                                    		<tr>
                                    			<th>Rate Name</th>
                                    			<th>Rate(%)</th>
                                    			<th>전일대비</th>
                                    		</tr>
                                    	</thead>
                                    	<tbody>
                                    		<tr>
                                    			<th scope = "row">CD(D91)</th>
                                    			<td>1.67</td>
                                    			<td>-</td>
                                    		</tr>
                                    		<tr>
                                    			<th scope = "row">콜금리</th>
                                    			<td>1.48</td>
                                    			<td>-</td>
                                    		</tr>
                                    		<tr>
                                    			<th scope = "row">국고채(3년)</th>
                                    			<td>1.66</td>
                                    			<td>-0.03</td>
                                    		</tr>
                                    		<tr>
                                    			<th scope = "row">회사채(3년)</th>
                                    			<td>2.10</td>
                                    			<td>-0.03</td>
                                    		</tr>
                                    	</tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
      
{% endblock content %}

{% block scripts %}
<script src="static/js/bootstrap.min.js"></script>

    <!-- chart js -->
    <script src="static/js/chartjs/chart.min.js"></script>
	
    <!-- bootstrap progress js -->
    <script src="static/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="static/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="static/js/icheck/icheck.min.js"></script>
    <!-- gauge js -->
    <script type="text/javascript" src="static/js/gauge/gauge.min.js"></script>
    <script type="text/javascript" src="static/js/gauge/gauge_demo.js"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="static/js/moment.min2.js"></script>
    <script type="text/javascript" src="static/js/datepicker/daterangepicker.js"></script>
    <!-- sparkline -->
    <script src="static/js/sparkline/jquery.sparkline.min.js"></script>

    <script src="static/js/custom.js"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="static/js/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="static/js/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="static/js/flot/jquery.flot.orderBars.js"></script>
    <script type="text/javascript" src="static/js/flot/jquery.flot.time.min.js"></script>
    <script type="text/javascript" src="static/js/flot/date.js"></script>
    <script type="text/javascript" src="static/js/flot/jquery.flot.spline.js"></script>
    <script type="text/javascript" src="static/js/flot/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="static/js/flot/curvedLines.js"></script>
    <script type="text/javascript" src="static/js/flot/jquery.flot.resize.js"></script>

    
    <!-- -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">
    		var tmpData = '{{ChartData}}'
    		var data =  JSON.parse(tmpData.replace(/&quot;/g,'"'));
    		
   			var data_array = [];
	    	
	    	$.map(data, function(obj){
	    		data_array.push([new Date(moment(obj.date,"YYYYMMDD")), parseInt(obj.value)]);
	    		}
	    	);
			$(function () {	
			        $('#container').highcharts({
			            chart: {
			                zoomType: 'x'
			            },
			            title: {
			                text: 'stock prices'
			            },
			            subtitle: {
			                text: document.ontouchstart === undefined ?
			                        'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
			            },
			            xAxis: {
			                type: 'datetime'
			            },
			            yAxis: {
			                title: {
			                    text: 'stock prices'
			                }
			            },
			            legend: {
			                enabled: false
			            },
			            plotOptions: {
			                area: {
			                    fillColor: {
			                        linearGradient: {
			                            x1: 0,
			                            y1: 0,
			                            x2: 0,
			                            y2: 1
			                        },
			                        stops: [
			                            [0, Highcharts.getOptions().colors[0]],
			                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
			                        ]
			                    },
			                    marker: {
			                        radius: 2
			                    },
			                    lineWidth: 1,
			                    states: {
			                        hover: {
			                            lineWidth: 1
			                        }
			                    },
			                    threshold: null
			                }
			            },

			            series: [{
			                type: 'area',
			                name: 'closing price',
			                data: data_array
			               
			            }]
			        });
			    });
			
	</script>

{% endblock scripts %}